*~
#*#
*.wav
*.WAV
*.ogg
*.sh
*.tgz*
*.zip
*.odt
*.pdf
*.epub
*.a
mk*
tmp*
tmp*/
*.bak
*.old
*.new
*.6
*.pem
chinese/book/
chinese/flashcardSets/
chinese/pkg/
dist/
epub/
github/
golang/
google_appengine/
http/private.pem
security/private*